apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: spring-ingress
  namespace: spring
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  tls:
  - hosts:
    - controlplane.hanyeaktong.site
    secretName: tls-cert
  rules:
  - host: controlplane.hanyeaktong.site
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: spring-service
            port:
              number: 8080
